#!/usr/bin/ksh
# $Id: fileset.ext.config 264 2017-10-05 09:12:05Z michael $
# script to complete configuration of the application
# depending on how it is setup the application may or may not be running as root
# e.g., the #! commmand is from teh application and is suid to the application
# owner id.
# All information should be addressed from an application perspective
# If the application needs to be configured by the system for autostart then
# that step should be done in the post_i script - which assumes root authority.
# However, that part might be a very simple thing that only calls 'start'
# 'stop' of a control script that is owned by the application. in this script
# 'config'ure can be done of the real script that runs/manages the application.

# files in ${lppbase} should no longer have any importance
# - that level of processing should be complete.
# In other words, the application is installed, and files
# are where they need to be. The ${fileset}.cfgfiles should not be needed.
# These are where they should be - NOTE - migration processing of 'cfgfiles'
# is normally performed by post_i/post_u not by 'config/config_u'.
# However, experience learns that .post_i 'breaks' because the fileset verification fails

# on success exit with 0 status, non-zero will abort the install process
[[ ! -z ${VERBOSE} ]] && \
	print -- "+- `pwd` $0 -+"
# The line below is as wide as the lines printed during normal installp installs
# it is provided as a reference
# print -- "+-----------------------------------------------------------------------------+"
exit 0
